@charset "UTF-8";
@import url("../../vendors/fonts.css");
@import url("../../vendors/all.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */
}

.input {
  padding-left: 10px;
  border-radius: 5px;
  height: 30px;
  border: 0;
  color: #fff;
}
.input__dark {
  background: #242526;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .switch__slider {
  background-color: #2196f3;
}
.switch input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider::before {
  position: absolute;
  content: "";
  height: 15.6px;
  width: 15.6px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider--round {
  border-radius: 34px;
}
.switch__slider--round::before {
  border-radius: 50%;
}

.notification {
  position: relative;
  border-radius: 50%;
  width: 1.3em;
  line-height: 1.3em;
  text-align: center;
  font-size: 0.8em;
}
.notification--gray {
  margin-left: 5px;
  display: inline-block;
  background: #6a6a6c;
}
.notification--top-red {
  background: red;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.5em;
}
.notification--friend-red {
  background: red;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 3px;
  font-size: 1em;
}
.notification--status-green {
  color: #79e7a0;
  margin-right: 5px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.items__left {
  display: flex;
  align-items: center;
}
.items__left > *:not(:last-child) {
  margin-right: 5px;
}
.items__right {
  display: flex;
  align-items: center;
}

.app {
  background: #313234;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template: "header profile" "main profile" "footer profile";
  grid-template-columns: auto 5em;
}

.logo__header {
  width: 26px;
  height: 26px;
}

.btn {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  border: 0;
  position: relative;
}
.btn:hover {
  color: #fff;
}
.btn__light {
  padding: 7px;
  color: #ccc;
  background: #38393b;
}
.btn__dark {
  padding: 7px;
  color: #414244;
  background: #242526;
}
.btn__round-corners {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn__menu {
  color: #414244;
  margin-left: 14px;
  padding: 10px;
  background: #2b2c2e;
  border: 1px solid #313234;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-family: "Roboto", "sans serif";
}
.btn__menu::before {
  content: "";
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
}
.btn__select {
  padding: 7px;
  align-self: center;
  color: #414244;
  background: #242526;
}
.btn__select-round {
  position: absolute;
  right: 5px;
  background: #313234;
  padding: 4px;
  font-size: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn__select-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 2px;
}
.btn__select-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 2px;
}
.btn__timeframe {
  border: 0;
  background: none;
  color: #414244;
}
.btn__timeframe:not(:last-child) {
  margin-right: 2px;
}
.btn__list {
  margin: 0 5px;
}
.btn__add-symbol {
  margin-right: 5px;
}
.btn__add-symbol::before {
  content: "+";
  margin-right: 10px;
}
.btn__multiplier {
  margin-right: 5px;
}
.btn__multiplier::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
}
.btn__correlation {
  margin-right: 5px;
}
.btn__correlation::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
}
.btn__gear {
  margin-right: 5px;
}
.btn__gear::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
}
.btn__friend-add {
  background: #4d8c7a;
  color: #ccc;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.search__input {
  border-radius: 5px;
  width: 130px;
}

.select {
  position: relative;
  display: flex;
  min-width: 2em;
  width: fit-content;
}
.select:not(:last-child) {
  margin-right: 5px;
}

.header {
  font-size: 1.5em;
  position: relative;
  display: flex;
  background: #2b2c2e;
  justify-content: space-around;
  align-items: center;
  color: #414244;
  height: 50px;
  grid-area: header;
}
.header__logo-container {
  display: flex;
  align-items: center;
  padding-inline: 25px;
  border-left: 1px solid;
  height: 50px;
}
.header__search {
  display: flex;
  align-items: center;
  padding-inline: 25px;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 50px;
}
.header__search .search {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: auto;
  display: flex;
  align-items: center;
  color: #414244;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.header__search .search:hover {
  color: #fff;
}
.header__search .search__icon {
  margin: 7px;
  position: absolute;
}
.header__search .search__input {
  padding-left: 30px;
  height: 30px;
  background: #2b2c2e;
  border: 0;
  color: #fff;
}
.header__nav {
  display: flex;
  align-items: center;
  margin: auto;
}
.header__list {
  display: flex;
  list-style: none;
}
.header__list-item:not(:last-child) {
  margin-right: 10px;
}
.header__list-link {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-decoration: none;
  color: #414244;
}
.header__list-link:hover {
  color: #fff;
}
.header__list-link-active {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  text-decoration-color: #478170;
  -moz-text-decoration-color: #478170;
}
.header__status {
  display: flex;
  list-style: none;
  align-items: center;
  height: 50px;
  padding-inline: 25px;
  border-left: 1px solid;
}
.header__status-refresh {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding-right: 10px;
}
.header__status-refresh:hover {
  color: #fff;
}
.header__status-text::before {
  content: "●";
  color: #79e7a0;
  margin-right: 5px;
}
.header__menu {
  width: 50px;
  height: 50px;
  border-left: 1px solid;
  border-right: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  margin-top: 20px;
  grid-area: main;
}

.widget {
  font-size: 1.5em;
  height: 335px;
  margin: 2px;
  background: #2b2c2e;
  border-top-right-radius: 5px;
}
.widget__bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 0;
  position: relative;
  background: #242526;
  border-top-right-radius: 5px;
}
.widget__tab {
  font-family: "Roboto", sans-serif;
  background: #2b2c2e;
  color: #fff;
  font-size: 13px;
  padding: 20px 20px 10px;
  margin: -20px 0 0 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.widget__tab-close {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-left: 10px;
  color: #414244;
  cursor: pointer;
}
.widget__tab-close:hover {
  color: #fff;
}
.widget__buttons-maximize {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-right: 10px;
  color: #414244;
  cursor: pointer;
}
.widget__buttons-maximize:hover {
  color: #fff;
}
.widget__buttons-close {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-right: 5px;
  color: #414244;
  cursor: pointer;
}
.widget__buttons-close:hover {
  color: #fff;
}
.widget__search .search {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: auto;
  display: flex;
  align-items: center;
  color: #414244;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.widget__search .search:hover {
  color: #fff;
}
.widget__search .search__icon {
  margin: 7px;
  position: absolute;
}
.widget__search .search__input {
  padding-left: 30px;
  height: 30px;
  background: #242526;
  border: 0;
  color: #fff;
}
.widget__toolbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  color: #414244;
}
.widget__toolbar > *:not(:last-child) {
  margin-right: 5px;
}
.widget__select {
  background: #242526;
  appearance: none;
  color: #eee;
  border: 0;
  padding: 7px;
  position: relative;
  font-size: 0.8em;
}
.widget__select--wide {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 100px;
  padding: 7px 25px;
}
.widget__body {
  display: grid;
}
.widget__switch {
  display: flex;
  align-items: center;
}
.widget__switch--title {
  margin-right: 5px;
  font-size: 0.8em;
}

.favorite__icon {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: #313234;
}
.favorite__icon:hover {
  color: #fff;
}

.alert {
  position: relative;
}
.alert__bell {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.alert__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -2px;
}

.table {
  position: relative;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 0.9em;
  color: #888;
  width: 100%;
}
.table__labels {
  padding-bottom: 1em;
}
.table__header {
  font-weight: normal;
  padding-inline: 1em;
  min-width: 53px;
  padding: 0.4em;
}
.table__header:not(:last-child) {
  border-right: 1px solid #3d3e40;
}
.table__body {
  width: 100%;
}
.table__data {
  text-align: center;
  padding: 0.4em;
  min-width: 50px;
}
.table__row {
  width: 100%;
}
.table__row:not(:last-child) {
  border-bottom: 1px solid #3d3e40;
}
.table__matrix--header:first-child {
  padding-left: 75px;
}
.table__matrix--data {
  border-right: 1px solid #3d3e40;
}
.table__footer {
  color: #888;
}
.table__dark--bg {
  background: #242526;
  width: 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.table__dark--color {
  color: #414244;
}

.icon {
  width: 28px;
  height: 28px;
}
.icon__stroke {
  stroke: #fff;
}
.icon__fill {
  fill: #fff;
}
.icon__daily::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  left: 20px;
}
.icon__calendar::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  left: 20px;
}
.icon__crypto::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  left: 20px;
}
.icon__filter::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
}
.icon__chart::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  margin-right: 5px;
}
.icon__add::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
}
.icon__exchanges::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  margin-right: 5px;
}
.icon__window::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  margin-right: 5px;
}
.icon__wallet::before {
  align-self: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  z-index: 1;
  position: relative;
  margin-right: 5px;
}

.chart__timeframe {
  margin: 0 10px;
}
.chart__timeframe::before {
  content: "";
  border: 1px solid #313234;
  margin-right: 10px;
  height: 50px;
}
.chart__timeframe::after {
  content: "";
  border: 1px solid #313234;
  margin-left: 10px;
  height: 50px;
}
.chart__container {
  position: relative;
  max-width: 200px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6a6a6c;
  padding: 10px;
}
.chart__container--dark {
  background: #27292c;
}
.chart__container--subtitle {
  margin: 3px 0;
  font-size: 0.9em;
}

.profile {
  grid-area: profile;
  position: relative;
  background: #2d2f32;
}
.profile__friends-container {
  height: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.profile__friends {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.profile__container {
  position: relative;
  background: #2b2c2e;
  height: 50px;
}
.profile__container::after {
  content: "●";
  color: #79e7a0;
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 2em;
}
.profile__pic {
  position: relative;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile__options {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #6a6a6c;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-top: 1px solid #38393b;
  border-bottom: 1px solid #38393b;
}
.profile__options > * {
  margin: 15px 0;
}
.profile__friend {
  position: relative;
}
.profile__friend::after {
  content: "●";
  color: #79e7a0;
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 2em;
}

.footer {
  display: flex;
  color: #fff;
  align-items: center;
  position: relative;
  justify-content: space-between;
  grid-area: footer;
}
.footer__news {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 900;
  flex: 1;
}
.footer__news--text {
  margin-left: 2em;
  text-transform: capitalize;
  min-width: 6em;
}
.footer__news--text::before {
  content: "●";
  color: #f53c3c;
  margin-right: 5px;
}
.footer__news--marquee {
  overflow: hidden;
  position: relative;
  min-width: 80%;
}
.footer__news--marquee:not(:last-child) {
  margin-right: 15px;
}
.footer__news--marquee::before {
  content: " ";
}
.footer__news--marquee-scrolling {
  animation: marquee 30s linear infinite;
  display: block;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  -webkit-animation: marquee 30s linear infinite;
}
.footer__news--NY-Times {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__news--NY-Times-icon {
  height: 20px;
  width: 20px;
  background: black;
  padding: 3px;
  border-radius: 5px;
}
.footer__news--NY-Times-time {
  font-size: 0.2em;
  min-width: 120px;
  color: #6a6a6c;
}
.footer__news--NY-Times-time::before {
  content: "NY Times";
  margin-right: 10px;
  font-size: 4em;
}
.footer__news--Coindesk {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__news--Coindesk-icon {
  height: 20px;
  width: 20px;
  background: black;
  padding: 3px;
  border-radius: 5px;
}
.footer__news--Coindesk-time {
  font-size: 0.2em;
  min-width: 120px;
  color: #6a6a6c;
}
.footer__news--Coindesk-time::before {
  content: "Coindesk";
  margin-right: 10px;
  font-size: 4em;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=style.css.map */
