.header {
  font-size: 1.5em;
  position: relative;
  display: flex;
  background: $bg-color-secondary;
  justify-content: space-around;
  align-items: center;
  color: $font-color-main;

  &__logo-container {
    display: flex;
    align-items: center;
    margin: auto;

    &::after {
      @include navbar_border_left();
    }
  }

  &__search {
    @include search($bg-color-secondary);
    display: flex;
    align-items: center;

    &::after {
      @include navbar_border_left();
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: auto;

    &::after {
      @include navbar_border_left();
    }
  }

  &__list {
    display: flex;
    list-style: none;

    &-item:not(:last-child) {
      margin-right: 10px;
    }

    &-link {
      @include hover();
      text-decoration: none;
      color: $font-color-main;

      &-active {
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 7px;
        text-decoration-thickness: 2px;
        text-decoration-color: $color-active;
        -moz-text-decoration-color: $color-active;
      }
    }
  }

  &__status {
    display: flex;
    list-style: none;
    margin: auto;
    align-items: center;

    &::after {
      @include navbar_border_left();
    }

    &-refresh {
      @include hover();
      padding-right: 10px;
    }

    &-text {
      &::before {
        content: "\25CF";
        color: $green-300;
        margin-right: 5px;
      }
    }
  }

  &__menu {
    @include hover();
    margin-right: 20px;
  }
}
