.icon {
  width: 28px;
  height: 28px;

  &__stroke {
    stroke: #fff;
  }
  &__fill {
    fill: #fff;
  }

  &__daily {
    &::before {
      @include font-awesome("\f5b7");
      left: 5px;
      z-index: 1;
      position: relative;
      left: 20px;
    }
  }
  &__calendar {
    &::before {
      @include font-awesome("\f133");
      left: 5px;
      z-index: 1;
      position: relative;
      left: 20px;
    }
  }
}
