.items {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
