@mixin navbar_border_left($margin: 40px) {
    content: "";
    border: 1px solid var(--bg-color-main);
    margin-left: $margin;
    height: 50px;
}

@mixin navbar_border_right($margin: 40px) {
    content: "";
    border: 1px solid var(--bg-color-main);
    margin-right: $margin;
    height: 50px;
}

@mixin hover {
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
        color: #fff;
    }
}

@mixin search($background) {
    .search {
        @include hover();
        margin: auto;
        display: flex;
        align-items: center;
        color: var(--font-color-main);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;

        &__icon {
            margin: 7px;
            position: absolute;
        }
        &__input {
            padding-left: 30px;
            height: 30px;
            background: $background;
            border: 0;
            color: #fff;
        }
    }
}

@mixin select($background) {
    background: $background;
    appearance: none;
    color: var(--font-color-main);
    border: 0;
    padding: 7px;
}

@mixin radius-left-side {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
@mixin radius-right-side {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
