.table {
  position: relative;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 0.9em;
  // color: $font-color-gray;
  color: #eee;
  width: 100%;

  &__labels {
    padding-bottom: 1em;
    // width: 100%;
  }

  &__header {
    font-weight: normal;
    padding-inline: 1em;
    min-width: 53px;
    padding: 0.4em;

    &:not(:last-child) {
      border-right: 1px solid #3d3e40;
    }
  }

  &__body {
    // display: block;
    // max-height: 200px;
    // overflow-y: scroll;
    width: 100%;

    // &::before {
    //   content: "";
    //   display: block;
    //   height: 15px;
    // }
  }

  &__data {
    text-align: center;
    padding: 0.4em;
    min-width: 50px;
  }

  &__row {
    // display: table;
    width: 100%;
    // box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: 1px solid #3d3e40;
    }
  }

  &__matrix {
    &--header:first-child {
      padding-left: 75px;
    }
    &--data {
      border-right: 1px solid #3d3e40;
    }
  }

  &__footer {
    // font-size: 0.8em;
    color: #888;
  }
}
