@import url("./reset.css");
@import url("../vendors/fonts.css");
@import url("../vendors/all.min.css");
:root {
  --bg-color-main: #313234;
  --bg-color-secondary: #2b2c2e;
  --font-color-main: #414244;
  --active: #478170;
  --green-300: #79e7a0;
}

.app {
  background: var(--bg-color-main);
  font-family: "Roboto", "sans serif";
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--bg-color-secondary);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--font-color-main);
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header__logo-container::after {
  content: "";
  border: 1px solid var(--bg-color-main);
  margin-left: 40px;
  height: 50px;
}

.header__search {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header__search:hover {
  color: #fff;
}

.header__search-icon {
  margin: 7px;
  position: absolute;
}

.header__search-input {
  padding-left: 30px;
  height: 30px;
  background: var(--bg-color-secondary);
  border: 0;
  color: #fff;
}

.header__search::after {
  content: "";
  border: 1px solid var(--bg-color-main);
  margin-left: 40px;
  height: 50px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header__nav::after {
  content: "";
  border: 1px solid var(--bg-color-main);
  margin-left: 40px;
  height: 50px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__list-item:not(:last-child) {
  margin-right: 10px;
}

.header__list-link {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-decoration: none;
  color: var(--font-color-main);
}

.header__list-link:hover {
  color: #fff;
}

.header__list-link-active {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-color: var(--active);
          text-decoration-color: var(--active);
  -moz-text-decoration-color: var(--active);
}

.header__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__status::after {
  content: "";
  border: 1px solid var(--bg-color-main);
  margin-left: 40px;
  height: 50px;
}

.header__status-refresh {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding-right: 10px;
}

.header__status-refresh:hover {
  color: #fff;
}

.header__status-text::before {
  content: "\25CF";
  color: var(--green-300);
  margin-right: 5px;
}

.header__menu {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-right: 20px;
}

.header__menu:hover {
  color: #fff;
}

.logo__header {
  width: 26px;
  height: 26px;
}

.btn {
  color: #fff;
  cursor: pointer;
}

.btn__menu {
  margin-left: 14px;
  padding: 10px;
  background: var(--bg-color-secondary);
  border: 1px solid var(--bg-color-main);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-family: "Roboto", "sans serif";
}

.btn__menu::before {
  content: "\f142";
  padding: 0 5px;
  font-family: "Font Awesome 5 Free";
}
/*# sourceMappingURL=style.css.map */